body {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  align-items: center;
  background-image: url("images/background.png");
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  flex: 1;
  padding-bottom: 50px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 5px;
  margin: 20px auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='310' height='310' viewBox='0 0 310 310'%3E%3Cpath d='M5,105 Q50,100 105,105 T205,105 T305,105' stroke='%23333' fill='none' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M5,205 Q50,200 105,205 T205,205 T305,205' stroke='%23333' fill='none' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M105,5 Q100,50 105,105 T105,205 T105,305' stroke='%23333' fill='none' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M205,5 Q200,50 205,105 T205,205 T205,305' stroke='%23333' fill='none' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px;
  background-position: center;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  cursor: pointer;
}

.game-info {
  margin-top: 20px;
}

#status {
  font-size: 24px;
  margin-bottom: 10px;
}

#restart {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#restart:hover {
  background-color: #45a049;
}

/* Footer */
.footer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffb200;
  font-size: 12px;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer a {
  color: #ffb200;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 0.5rem;
  }
}
